APP_ENV=
ENV_DIR=

SERVER_GRPC_PORT=
SERVER_HTTP_PORT=
SERVER_SHUTDOWN_TIMEOUT=
SERVER_MAX_CONNECTIONS=
SERVER_CONNECTION_TIMEOUT=

POSTGRES_HOST=
POSTGRES_PORT=
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=
POSTGRES_SSLMODE=
POSTGRES_MAX_OPEN_CONNS=
POSTGRES_MAX_IDLE_CONNS=
POSTGRES_CONN_MAX_LIFETIME=
POSTGRES_CONN_MAX_IDLE_TIME=

KAFKA_BOOTSTRAP_SERVERS=
KAFKA_AUTO_OFFSET_RESET=

ELASTICSEARCH_ADDRESSES=
ELASTICSEARCH_CLOUD_ID=
ELASTICSEARCH_USERNAME=
ELASTICSEARCH_PASSWORD=
ELASTICSEARCH_MAX_RETRIES=
ELASTICSEARCH_RETRY_BACKOFF=

LICENSE_VALIDATION_BASE_URL=
